@import url("https://fonts.googleapis.com/css?family=Lato:100,400");

body {
	background: black;
}

h1 {
  font: 100 1em/1.5em 'Lato';
  font-size:60px;
  color:#FFFFFF;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

p {
	font: 100 1em/1.5em 'Lato';
	font-size:20px;
	color:#FFFFFF;
	text-align: center;
}

a {
	color:#FFFFFF;
}

#game_div {
	width: 100%;
	max-width: 400px;
	aspect-ratio: 400 / 490;
    margin: auto;
    margin-top: 10px;
}

#game_div canvas {
	touch-action: none;
}